{% extends "layout.html" %}
{% block body %}
<div class="well span2">
	<div class="muted"><strong>Peak Memory</strong></div>
	<h1 style="margin: 0;">{{used_memory_peak_human}}</h1>
</div>
<div class="well span2">
	<div class="muted"><strong>Current Memory</strong></div>
	<h1 style="margin: 0;">{{used_memory_human}}</h1>
</div>
<div class="well span2">
	<div class="muted"><strong>Total Keys</strong></div>
	<h1 style="margin: 0;">{{total_keys}}</h1>
</div>
<div class="well span2">
	<div class="muted"><strong>Connected Clients</strong></div>
	<h1 style="margin: 0;">{{connected_clients}}</h1>
</div>

<div class="clearfix"></div>

{% if memory %}
<h3>Memory Consumption</h3>
<div id="memory"></div>
{% endif %}
{% if connections %}
<h3>Client Connections</h3>
<div id="connections"></div>
{% endif %}

{% if memory or connections %}
<script src="http://alexyoung.github.com/ico/raphael.js"></script>
<script src="http://alexyoung.github.com/ico/ico.js"></script>

<script>
{% if memory %}
	new Ico.LineGraph(
		document.getElementById('memory'),
		{
			k: {{memory|safe}}
		},
		{
			colours: { k: '#990000'},
			height: 300,
			grid: true
		}
	);
{% endif %}
{% if connections %}
	new Ico.LineGraph(
		document.getElementById('connections'),
		{
			k: {{connections|safe}}
		},
		{
			colours: { k: '#990000'},
			height: 300,
			grid: true
		}
	);
{% endif %}
</script>
{% endif %}
{% endblock %}
