{% extends "layout.html" %}
{% block body %}
{% if not pattern %}
<h3>Find Key</h3>
<form class="form-search" method="GET" action="{{url_for('redboard.key')}}">
  <input type="text" name="key" class="input-medium search-query">
  <button type="submit" class="btn btn-primary">Find Key</button>
</form>
{% endif %}
{% if pattern %}
<h1>keys | {{pattern}}</h1>
<table class="table table-striped table-bordered table-condensed table-hover">
	<thead>
		<tr>
			<th>Key</th>
			<th>View</th>
		</tr>
	</thead>
	<tbody>
		{% for key in keys %}
		<tr>
			<td><tt>{{key}}</tt></td>
			<td><a href="{{url_for('redboard.key', key=key)}}" class="btn btn-info btn-mini">View</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h3>Search Keys</h3>
<h5>Be Careful!</h5>
<p>Key queries should only be used in production environments with extreme care. It may ruin performance when it is executed against large databases.</p>
<form class="form-search" method="GET" action="{{url_for('redboard.keys')}}">
  <input type="text" name="pattern" class="input-medium search-query">
  <button type="submit" class="btn btn-primary">Find Keys</button>
</form>
{% endif %}
{% endblock %}
